
@font-face {
    font-family: CAI978;
    src: url(../Font/314-CAI978.ttf);
}

body
{
    margin:0;
}

#background
{
    position:fixed;
    display:block;
    z-index: -100;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    object-position: center;
}

#title {
    width: 900px;
    height: 120px;
    line-height: 120px;
    text-align: center;
    margin: 0 auto 20px auto;
    color: white;
    font-size: 100px;
    font-family: CAI978;
    cursor: default;
}

#center_content
{
    width:80vw;
    margin:auto;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: row;
}

#article_type_list
{
    width: 120px;
    height: auto;
    border-radius: 10px;
    display: flex;
    margin-right:50px;
    flex-shrink: 1;
    flex-direction:column;
    justify-content: flex-start;
    background-color: rgba(255, 255, 255, 0.1);
}
#article_type_list>.article_type
{
    width:120px;
    height: auto;
    line-height: 25px;
    font-size: 20px;
    color:#757575;
    text-align:center;
    cursor:pointer;
}
#article_type_list>.article_type:hover {
    color: black;
    background-color: white;
}

#article_outline_list
{
    width: 200px;
    height: auto;
    border-radius: 10px;
    display: flex;
    margin-left:50px;
    flex-shrink: 1;
    flex-direction:column;
    justify-content: flex-start;
    background-color: rgba(0, 0, 0,0.8);
}
#article_outline_list>.article_outline
{
    width:200px;
    height: auto;
    color:white;
    cursor:pointer;
    word-break:break-all;
}
#article_outline_list>.article_outline:active
{
    color:black;
}
#article_outline_list>h1
{
    font-size: 20px;
    line-height: 20px;
    font-weight:bolder;
    text-align:center;
}
#article_outline_list>h2
{
    font-size: 15px;
    line-height: 15px;
    text-align:left;
    font-weight:lighter;
}
#article_outline_list>h3
{
    font-size: 10px;
    line-height: 10px;
    text-align:center;
    font-weight:lighter;
    text-decoration:underline;
}
#article_outline_list>h4
{
    display: none;
}
#article_outline_list>h5
{
    display: none;
}
#article_outline_list>h6
{
    display: none;
}

#article_content,
#article_list
{
    width: 30vw;
    height: auto;
    overflow-x: hidden;
    overflow-y: hidden;
}
#article_content
{
    display: none;
}

#article_space
{
    height: 80px;
}

#article_list>.article
{
    margin: auto;
    width:50vw;
    min-width: 200px;
    height:30px;
    font-size: 20px;
    line-height: 30px;
    border-top: 1px transparent solid;
    border-bottom:1px transparent solid;
    border-color: #212121;
    color:#757575;
    cursor:pointer;
}
#article_list>.article:hover {
    color: white;
}